<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo usuario</title>
</head>
<body>


    <header style="border-bottom: 1px solid #EEE; background-color: #FFFFFF; margin-bottom: 40px; margin-left: 50px; margin-right: 50px; margin-top: 50px">
        <h1 style="margin-top: 20px; margin-bottom: 10px; display: inline; font-size:22px; font-family: abel; color: #B4B1AB;">
            Xprojects
        </h1>
    </header>
    <section style="margin-left: 50px; margin-right: 50px; background-color: #F0F0E9; padding: 40px">
        <h1 style="font-size: 22px; font-family: 'Roboto', sans-serif;">Estimado usuario,</h1>
        <h2 style="font-size: 16px; font-family: 'Roboto', sans-serif;">Hemos recibido una solicitud de establecimiento de nueva contraseña en tu cuenta.</h2>
        <a href="{{ url_reset_password }}">Haz clic aquí para establecer una nueva contraseña</a>


        <p style="margin-top: 40px">Atentamente,</p>

        <p>El equipo de desarrollo de xprojects.</p>

    </section>

    <footer style=" margin-top: 50px; margin-left: 50px; margin-right:50px;">
            <p>Copyright © 2016 <a style="text-decoration: none;" target="_blank" href="https://github.com/ivanprjcts">@ivanprojects</a>. Todos los derechos reservados.</p>
    </footer>

</body>
</html>