{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solicitar cambio de contraseña</title>

    <link rel="stylesheet" href="{% static '/static/xdjango/css/bootstrap/bootstrap-3.3.2.min.css' %}">

    <script type="text/javascript" src="{% static '/static/xdjango/js/angular/angular-1.4.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/xdjango/js/angular/angular-cookies-1.4.5.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/xdjango/js/app/app.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/xdjango/js/app/request-reset-password.js' %}"></script>

</head>

<body ng-app="xdjango">

    <div class="container" ng-controller="RequestResetPasswordCtrl">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cambiar contraseña</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="sendResetPasswordRequest()">
                            <fieldset>
                                <div class="form-group">
                                    <input required ng-model="email" class="form-control" placeholder="Correo electrónico" type="email" autofocus>
                                </div>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Solicitar cambio de contraseña</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static '/static/xdjango/js/jquery/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/xdjango/js/bootstrap/bootstrap-3.3.2.min.js' %}"></script>

</body>

</html>